#player5 #controls {
    position:absolute;
    z-index:1000;
    left:0;
    bottom:0;
    width:100%;
}

#player5 {
    width:100%;
    position: relative;
    height:100%;
    background-color:#000;
}

#player5 video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position:relative;
}

#player5 #waveform-bar{
    height:40px;
    background-color:rgba(30, 30, 30, .9);
    position:relative;
}

#player5 #progress-bar{
    height:8px;
    background-color:rgba(80, 80, 80, .9);
    position:relative;
}

#player5 #progress {
    background-color:rgb(180, 0, 0);
    height: 8px;
    width: 0px;
}

#player5 #waveform-progress {
    position:absolute;
    background-color:rgba(80, 80, 80, .5);
    height: 40px;
    width: 0px;
}

#player5 #controls-bar{
    position:relative;
    background-color:#000;
    background: rgba(20, 20, 20, .5);
    height:35px;
    color: #ccc;
    font-size:14px;
    font-family: arial;
}

#player5 .control-bar-el {
    float:left;
    line-height:35px;
}

#player5 .player5-button{
    text-align:center;
    width:50px;
    height:35px;
    color:#ddd;
    cursor:pointer;
}

#player5 #fullscreen-button {
    float:right;
    line-height:35px;
}

#player5 #menu-button{
    float:right;
    line-height:35px;
}

#player5 #time {

}

#player5 #volume-icon{
}

#player5 #volume-bar-container{
    height:35px;
    width:60px;
    cursor: pointer;
}

#player5 #volume-bar-click-area{
    height:5px;
    background-color:rgb(80, 80, 80);
    margin-top:15px;
}

#player5 #volume-bar{
    height:5px;
    background-color:rgb(180, 0, 0);
    width:0px;
}

#player5 #current-time-popup{
    display:none;
    background: rgba(40, 40, 40, .9);
    width:60px;
    height:20px;
    position:absolute;
    bottom:12px;
    color:#ccc;
    font-family: arial;
    font-size:12px;
    text-align:center;
    line-height:20px;
    z-index:100;
}

#player5 #menu-popup {
    display: none;
    background: rgba(40, 40, 40, .6);
    position:absolute;
    bottom:43px;
    font-size:13px;
    line-height: 20px;
    padding:5px;
    color:#ccc;
    right:10px;
}

#player5 #menu-popup table{
    font-size:12px;
    color:#ccc;
}

#player5 #menu-popup span{
    background-color:#ccc;
    color:#222;
    margin-left:4px;
    margin-right:4px;
    padding:2px 4px 2px 4px;
    font-size:12px;
}

#player5 #menu-popup span.set-source {
    cursor:pointer;
}

#player5 #menu-popup span.selected-source {
    background-color: #555;
    color:#ccc;
}